/* src/components/Header.css */
.pokedex-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}







.pokedex-hardware-bar {
  background-color: #dc3545;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #9c1c26;
}

.led-panel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-blue-led {
  width: 40px;
  height: 40px;
  background-color: #00cdff;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px #00cdff;
}

.small-leds {
  display: flex;
  gap: 5px;
}

.led {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #333;
}
.led.red { background-color: #ff3b30; }
.led.yellow { background-color: #ffcc00; }
.led.green { background-color: #4cd964; }